@use '../../variables' as *;

.body-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    // for left containers
    // Hide scrollbar for Chrome, Safari, and Opera
        &::-webkit-scrollbar {
            display: none;
        }

        // Hide scrollbar for IE, Edge
        -ms-overflow-style: none;

        // Hide scrollbar for Firefox
        scrollbar-width: none;
    .left-container {
        height: 100%;
        background-color: $primary-color;
        // padding: 20px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;;       
    }
    .not-collapsed {
        width: 20%;
    }
    .collapsed {
        width: 4%;
    }
    // for right containers
    .right-container {
        height: 100%;
        overflow-y: hidden;
        transition: all 0.3s ease;
    }
    .expand-right {
        width: 96%;
    }
    .shirnk-right {
        width: 80%;
    }
}