@use "../../variables" as *;
.collapsable-sidebar {
    display: flex;
    background-color: $bg-color-two;
    align-items: flex-start;
    flex-direction: column;
    border-right: 1px solid $border-color;
    min-width: fit-content;
    width: max-content;
    height: calc(100vh - 35px);
    padding: 8px;
    transition: all ease 250ms;
    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
        height: fit-content;
        margin: 8px 0px;
        span {
            font-size: medium;
        }
        .header-close-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 50%;
            height: fit-content;
            width: auto;
            transition: all ease 250ms;
            &:hover {
                border: 1px solid $border-color;
            }
        }
    }
    .question-list-with-name-difficulty {
        margin-top: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
        font-size: small;
        cursor: pointer;
        width: 100%;

        .each-qs{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .level {
                background-color: $easy;
                padding: 4px;
                border-radius: 4px;
            }
            span {
                max-width: 70%;
            }
        }
    }
}
