@use '../../variables' as *;

.fixed-sidebar {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    width: 50px;
    height: calc(100vh - 35px);
    border-right: 1px solid $border-color;
    padding: 8px 0px;
    transition: all ease;

    .navigation-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 100%;
        margin: 10px 0px;
        color: $text-color-secondary;
        // padding-left: 8px;
        
        &:hover {
            color: $text-color;
        }
    }
    .active-for-border {
        border-left: 2px solid $active-color;
        color: $text-color;
    }
}