@use "../variables" as *;
.layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* For Chrome, Edge, and Safari */
    ::-webkit-scrollbar {
        width: 10px; /* width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
        background: #1e1e1e; /* track color */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888; /* handle color */
        border-radius: 10px;
        border: 2px solid #1e1e1e; /* space around thumb */
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* on hover */
    }
    .main-container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100%;
        .left-container {
            width: fit-content;
            display: flex;
            align-items: flex-start;
        }
        .right-container {
            background-color: $bg-color-two;
            height: 100%;
            width: 100%;
        }
    }
}
