.code-editor-page-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    .problem-statement-section {
        height: 100%;
        max-width: 50%;
    }
    .ide-section {
        flex: 1;
    }
    .resizer {
        width: 8px;
        background: #aaa;
        cursor: col-resize;
    }
}
