@use "../../variables" as *;

.ide-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    // overflow-y: hidden;
    scroll-behavior: smooth;
    transition: all ease;
    .resizer-horizontal {
        width: 100%;
        height: 2px;
        background-color: $text-color;
        cursor: row-resize;
        display: flex;
        align-items: center;
        justify-content: center;
        .resizer-icon {
            z-index: 10;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: $text-color;
            color: black;
            font-size: large;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .submission-btn-group {
        width: 100%;
        height: max-content;
        padding: 10px 30px;
        border-radius: 5px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        background-color: $primary-color;
        margin-top: 10px;
        /* HTML: <div class="loader"></div> */
        .loader {
            width: 50px;
            padding: 8px;
            aspect-ratio: 1;
            border-radius: 50%;
            background: $primary-two-color;
            --_m: conic-gradient(#0000 10%, #000),
                linear-gradient(#000 0 0) content-box;
            -webkit-mask: var(--_m);
            mask: var(--_m);
            -webkit-mask-composite: source-out;
            mask-composite: subtract;
            animation: l3 1s infinite linear;
        }
        @keyframes l3 {
            to {
                transform: rotate(1turn);
            }
        }
        button {
            background-color: $primary-two-color;
            color: $text-color;
            font-size: large;
            outline: none;
            border: 1px solid transparent;
            padding: 5px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: all ease 0.25s;
            &:hover {
                border: 1px solid $text-color;
            }
            &:active {
                background-color: $text-color;
                color: $bg-color;
            }
        }
        .custom-input-btn {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .custom-input {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        textarea {
            width: 100%;
            background-color: #1e1e1e;
            color: white;
            padding: 10px;
            border-radius: 5px;
            resize: none;
            overflow: "hidden";
        }
    }

    .output-container {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2 {
            align-self: flex-start;
        }
        .custom-output {
            display: flex;
            align-items: flex-start;
            width: 100%;
            .output-elements {
                display: flex;
                width: 50%;
                align-items: flex-start;
                flex-direction: column;
                margin: 5px;
            }
            .result,
            .expected {
                width: 100%;
                min-height: 30vh;
                background-color: #1e1e1e;
                color: white;
                padding: 10px;
                border-radius: 5px;
                resize: none;
                margin-bottom: 30px;
                // overflow: "hidden";
            }
        }
    }
}
