@use "../../variables" as *;

.lang-navbar {
    width: 100%;
    min-height: max-content;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    background-color: $primary-color;
    span {
        background-color: $primary-two-color;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}