@use "../../variables" as *;

.lang-navbar {
    width: 100%;
    min-height: max-content;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    background-color: $primary-color;
    span {
        background-color: $primary-two-color;
        padding: 5px 20px;
        border-radius: 5px;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all ease 0.25s;
        &:hover {
            border: 1px solid $text-color;
        }
    }

    .active-span {
        background-color: $text-color;
        color: $bg-color;
    }
}