@use "../../variables" as *;

.ide-container {
    flex: 1;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .ide-header-section {
        background-color: $bg-color-two;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        border-bottom: 1px solid $border-color;
        h4 {
            height: 100%;
            background-color: $bg-color;
            width: max-content;
            margin: 0px;
            padding: 10px;
            border-right: 1px solid $border-color;
            border-top-right-radius: 4px;
            // border-top-left-radius: 4px;
            // margin-left: 10px;
        }
        button {
            height: 80%;
            width: auto;
            background-color: $bg-color;
            color: $button;
            outline: none;
            border: 1px solid $button;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
        }
    }
}