@use '../../variables' as *;

.header {
    width: 100vw;
    height: 35px;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    flex-direction: row;
    .logo-container {
        font-weight: 700;
        font-size: larger;
    }
}