$bg-color: #0d1117;
$bg-color-two: #010409;
$text-color: #d3dad9;
$text-color-secondary: #7d8590;
$active-color: #b87a38;
$selection-one: #2d3139;
$border-color: #30363d;
$hard: #ca493a;
$easy: #52b643;
$button: #66b2ff;
